$BLUE_PRIMARY : "#1DA1F2";
$BLACK :"#14171A";
$DARK_GRAY : "#657786";
$LIGHT_GRAY : "#AAB8C2";
$EXTRA_LIGHT_GRAY : "#E1E8ED";
$EXTRA_EXTRA_LIGHT_GRAY : "#F5F8FA";
$WHITE : "white";

:root{
  --unit-width: 40vw;

  @media screen and (max-width: 500px) {
    --unit-width: 100vw;
  }
}

main.main-container {
  width: 100%;
  max-width: var(--unit-width);
  margin: 0 auto;
  overflow: scroll;
  position: relative;
}